<div>
<div class="col-md-4"  >
    <h2 align="center">Şifre Değiştir</h2>
    <div style="background-color: green;">
    <h4 align="center" style="background-color: green;">{{changepasswithAutSucceses}}</h4>
    <h4 align="center" style="background-color:red ;">{{changepasswithAutfail}}</h4></div>
    <form name="form" ng-submit="demo.sifreDegistir(form)" role="form"  class="quick-login" >
    	<div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
           
            <input placeholder="Eski Şifre" type="password" name="oldpassword" id="oldpassword" class="inputbox" ng-model="demo.oldpassword" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <input placeholder="Yeni Şifre" type="password" name="newpassword" id="newpassword" class="inputbox" ng-model="demo.newpassword" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
         <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <input placeholder="Yeni Şifre Tekrar" type="password" name="passwordConfirm" id="passwordConfirm" class="inputbox" ng-model="demo.passwordConfirm" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="login-buttons">
            <button type="submit" class="button2">Kaydet</button>
        </div>
    </form>
</div>

<div class="col-md-4" >
    <h2 align="center">İletişim Bilgilerini Değiştir</h2>
    <div style="background-color: green;">
    <h4 align="center" style="background-color: green;">{{changeContactSucceses}}</h4>
<h4 align="center" style="background-color:red ;">{{changeContactfail}}</h4></div>
    <form name="form" ng-submit="demo.changeContact(form)" role="form"  class="quick-login" >
    	<div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <input placeholder="Email" type="email" name="email" id="email" class="inputbox" ng-model="demo.email" required />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">email is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
          
            <input placeholder="Telefon" type="text" name="telefon" id="telefon" class="inputbox" ng-model="demo.telefon" required />
            <span ng-show="form.telefon.$dirty && form.telefon.$error.required" class="help-block">telefon is required</span>
        </div>
        <div class="login-buttons">
            <button type="submit" class="button2">Kaydet</button>
        </div>
    </form>
</div>
</div>








